* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
    min-width: 570px;
    background: #8e4717;
}
.primButton{
    background-color: #ffa9a9;
    margin: auto;
    padding: 10px;
    width: 120px;
    border-radius: 9px;
    box-shadow: 5px 5px 4px -6px;
}
.linkStyleRemove{
    color: black;
    text-decoration: none;
}
input{
    position: relative;
    margin: auto;
    width: 50%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}
.insideBody{
    /* background: #8e4618; */
}
footer {
    background-color: #1d0e04;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}
footer p{
    margin: unset;
}