{% extends "mainLayout.html" %}{% load static %}{% block list%}
<style>
    #mainCont #backLink{
        position: relative;
        left: -10rem;
        top: -1rem;
    }
    #mainCont svg{
        width: 30px;
    }
</style>
<div id='mainCont'>
    <a id='backLink' href="{% url 'addLocation' %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"/>
        </svg>
    </a><br>
    <div id='areasContainer'>
        <ul style='width:300px; text-align:left;'>
            {% for area in areasData%}
            <li><a href="{% url 'addTree' locationID area.areaID %}">{{area.areaID}}-{{area.name}}</a></li>
            {% endfor %}
        </ul>
        <a href=#>
            <h3>Add Area</h3>
        </a>
    </div>
    <form action='' method="POST">
        {% csrf_token %}
        {% for input in addForm %}
            {{input.label}}{{input}}<br>
        {% endfor %}
        <input type='submit' value='Save' />
    </form>
</div>
{% endblock %}