{% extends "mainLayout.html" %}{% load static %}{% block list%}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat({{ gridWidth }},auto);
        background-color: #2196F3;
        padding: 10px;
        width: 50rem;
        margin: auto;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    .rows{
        display:inline-flex;
    }
</style>
<link href="{% static 'style/pageSetup.css' %}" rel="stylesheet" />
<link href="{% static 'style/addCards.css' %}" rel="stylesheet" />
<link href="{% static 'style/backArrow.css' %}" rel="stylesheet" />
<script defer src="{% static 'script/hideAddContainer.js' %}"></script>
<script defer src="{% static 'script/addTree.js' %}"></script>
<div id="treeList" style="display:none;" data-treeList="{{treeList}}"></div>
<div id="locationID" style="display:none;" data-locationID="{{locationID}}"></div>
<div id="areaID" style="display:none;" data-areaID="{{areaID}}"></div>
{% include "components/spacer.html" %}
<div id='mainCont'>
    {% include "components/backArrow.html" %}
    <div>
        <div class="grid-container">
            {% for number in columnRange %}
                {% for letter in rowList %}
                    <div id="{{number}}{{letter}}" class="grid-item">-</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <a id="addLink" href=# onclick="showAddElem(treeForm)">
        <h3>Add Tree</h3>
    </a>
    <form id="treeForm" class="addCont" action='' method="POST" style="display:none;">
        {% csrf_token %}
        {% for input in addForm %}
            {{input.label}}{{input}}<br>
        {% endfor %}
        <input type='submit' value='Save' />
    </form>
</div>
{% endblock %}