{% extends "mainLayout.html" %}{% load static %}{% block list%}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat({{ gridWidth }},auto);
        background-color: #2196F3;
        padding: 10px;
        width: 50rem;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    #mainCont #backLink{
        position: relative;
        left: -10rem;
        top: -1rem;
    }
    #mainCont svg{
        width: 30px;
    }
</style>
<div id='mainCont'>
    <a id='backLink' href="{% url 'addArea' locationID %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"/>
        </svg>
    </a><br>
    <div>
        <div class="grid-container">
            {% for tree in treeList %}
                <a href="{% url 'treeData' locationID areaID tree.treeID %}">
                    <div class="grid-item">{{tree.treeID}}</div>
                </a>
            {% endfor %}
          </div>
    </div>
</div>
{% endblock %}