{% extends "mainLayout.html" %}{% load static %}{% block list%}
<link href="{% static 'style/dashboard.css' %}" rel="stylesheet" />
<script defer src="{% static 'script/dashboard.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div id="areaCols" class="hidden" data-col="{{areaData.widthByTree}}"></div>
<div id="areaRows" class="hidden" data-row="{{areaData.lengthByTree}}"></div>
{% include "components/spacer.html" with headerSpace='small' %}
<div class="tileCont main">
    <section class="card" id="tree-watering">
        <h2>Tree Watering</h2>
        <div class="selectCont">
            {% comment %} <select name="location" id="location">
                {% for location in locationData %}
                <option value="{{location.locationID}}">{{location.city}}</option>
                {% endfor %}
            </select> {% endcomment %}
            <select name="area" id="area">
                <option value="001">Adam</option>
                <option value="005">Eve</option>
                <option value="001">Cain</option>
            </select>
        </div>
        {% comment %} <canvas id="tree-watering-chart"></canvas> {% endcomment %}
        <div id="sensors">
            <div class="rowSensorCont">
                <div class="lightSensorCont">
                    A1
                    <div class="lightSensor"></div>
                </div>
                <div class="lightSensorCont">
                    A2
                    <div class="lightSensor lightSensorDry"></div>
                </div>
            </div>
            <div class="rowSensorCont">
                <div class="lightSensorCont">
                    A1
                    <div class="lightSensor"></div>
                </div>
                <div class="lightSensorCont">
                    A2
                    <div class="lightSensor lightSensorDry"></div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="card" id="weather">
    <h2>Weather</h2>
    <div id="weather-data">
        <!-- Weather information will be displayed here -->
    </div>
    </section>

    <section class="card" id="sales">
    <h2>Sales</h2>
    <div id="sales-data">
        <!-- Sales information will be displayed here -->
    </div>
    </section>
</div>
{% endblock %}