{% extends "mainLayout.html" %}{% load static %}{% block list%}
<link href="{% static 'style/pageSetup.css' %}" rel="stylesheet" />
<link href="{% static 'style/homePage.css' %}" rel="stylesheet" />
<div class='mainCont'>
    <div class="cropped">
        <img id='bannerPhoto' src="{% static 'images/HGCFsign.jpg' %}"/>
    </div>
    <div class="description">
        <h2>Welcome to Heavens Gates Cherry Farm</h2>
        <p>Hello there Cherry Lovers! Welmcomsonf kdfkdj ldjfkjls  fkjksjfjfjs fksdfjo fjsjof ieufn n ifj kkjsrnf osfj sf./ sfoskfnikjsfjjisj isrfji si sifj isjf  iisjf sifj sij sisjsdf  ijsf.</p>
    </div>
    <div class="">

    </div>
</div>
{% endblock %}