{% extends "mainLayout.html" %}{% load static %}{% block list%}
<style>
    .mainCont{
        background-color: white;
        width: 33rem;
        border-radius: 25px;
        padding: 31px 0px;
    }
    .mainCont a{
        position: relative;
        left: -10rem;
        top: -1rem;
    }
    .mainCont svg{
        width: 30px;
    }
</style>
<div class='mainCont'>
    <a href="{% url 'addTree' locationID2 areaID2 %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"/>
        </svg>
    </a><br>
    Tree ID: {{treeData.locationID}}-{{treeData.areaID}}-{{treeData.treeID}}<br><br>
    Root Stock: {{treeData.rootStock}}<br><br>
    Zion Type: {{treeData.zionType}}<br><br>
    Date Planted: {{treeData.datePlanted}}<br><br>
    Notes: <br><br>
    Logs:
</div>
{% endblock %}